@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
  }
  /* header-navbar-styles */
.bg-light{
    background-color: #f7f7f7;
     
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
 
.nav-item{
    list-style: none;
    padding-left: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: medium;
}
.text-1{
    color: #FEA301;
}
.text-2{
    color: #01ACFD;
}
.text-3{
    color: #05D4DF;
}
.text-4{
    color: #5D58EF;
}


.nav-btn{
    background-color: #FEA301;
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
}
.icon-nav-btn{
    display: none;
}
.nav-horizotal{
    display: none;
}
/* bannar section styles */
.bannar{
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
}
.bannar-contant{
    padding: 122px 50px 122px;
}
.bannar-title{
    font-size: 3.5rem;
    font-weight: 700;
    width: 95%;
}
.bannar-discription{
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    width: 100%;
}
#btn {
    margin-top: 30px;
}
.bannar-btn{
    font-weight: 700;
    padding: 10px 47px;
    background-color: #111111;
    text-decoration: none;
    border: none;
    color: #ffffff;
    border-radius: 12px;
}
.bannar-img{
    width: 100%;
}

/* standard section styles */
main{
    background-image: url(../assets/bg.png);
}
.standard-title{
    text-align: center;
    padding: 60px 0;
    font-size: 2.8rem;
    font-weight: bold;
}
.standard-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.standard-card{
    text-align: center;
    align-items: center;
    width: 367px;
    height: 476px;
    padding: 40px 0px;
    border-radius: 10px;
    background-color: #fff;
}
.card1{
    box-shadow: inset 0px 98px 36px -29px rgb(222 245 255 / 1);
    border: 1px solid #DEF5FF;
}
.card2{
    box-shadow: inset 0px 98px 36px -29px rgba(255, 244, 220, 1);
    border: 1px solid #FFF4DC;
}
.card3{
    box-shadow: inset 0px 98px 36px -29px rgba(242, 232, 255, 1);
    border: 1px solid #F2E8FF;
}
 
.standard-subtitle{
    font-size: 1.5rem;
    font-weight: bold;
}
.standard-discription{
    font-size: 0.9rem;
    font-weight: 400px;
    color: #808080;
}
.standard-btn{
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}
.standard-icon{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 80px 0 60px;
}
.standard-icon1{
    padding: 10px 20px;
    background-color: #FEA301;
    border-radius: 50%;
    color: #ffffff;
}
.text-btn1{
    color: #64C8FF;
}
.text-btn2{
    color: #F0AA00;
}
.text-btn3{
    color: #8700FF;
}


/* story related styles */

.back-img {
    box-shadow: inset 33px -144px 659px -152px rgba(254, 163, 0, 1);
    background: url(../assets/bg.png);
}


 .storys{
    max-width: 100%;
    align-items: center;
 }
 .our-story{
    text-align: center;
    margin: 60px 0;
    font-size: 2.8rem;
    font-weight: 700;
 }
 .story-contant{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding-bottom: 40px;
 }
 .single-story{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
 }
 .single-st-img{
    width: 100%; 
 }

 .single-st-btn{
    padding: 15px 19px;
    background-color: #3CD8E8;
    color: #fff;
    border-radius: 47px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
 }
 #story-btn{
    position: relative;
    margin-top: -30px;
    margin-left: 30px;
 }
 .single-st-title{
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
 }
 .single-st-discription{
    padding-left: 40px;
    font-size: 1rem;
    font-weight: 400;
    color: #666666;
    width: 80%;
 }
 .multiple-storys{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    width: 100%;
 }
 .multi-story{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
 }
 .multi-btn{
    position: relative;
    padding: 10px 19px;
    background-color: #95B226;
    color: #fff;
    border-radius: 47px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
 }
 #midle-btn{
    position: relative;
    margin-top: -25px;
    margin-left: 30px;
 }
 .blu-btn{
    background-color: #5D58F0;
 }
 .multi-title{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    padding: 15px;
 }
.btn-card{
    margin: 40px 0px;
    text-align: center;
}
.card-btn {
    font-weight: 700;
    padding: 10px 61px;
    margin-bottom: 40px;
    background-color: #111111;
    border: none;
    color: #ffffff;
    border-radius: 12px;
}




/* Responsive media query */
@media screen and (max-width: 576px) {
    .nav-links, 
    .nav-title,
    .nav-btn {
        display: none
    }
    .icon-nav-btn, .nav-horizotal{
        display: block;
    }
    .nav-horizotal{
        background-color: #FEA301;
        width: 90%;
    }
    .icon-nav-btn{
        font-size: 40px;
    }
 
    .bannar, .standard-cards{
        flex-direction: column;
       
    }
    .bannar-img{
        order: -1;
        width: 100%;
    }
    .bannar-contant{
        text-align: center;
        padding: 12px 0px 12px;
    }
    .bannar-title{
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        margin-bottom: 0;
    }
    .bannar-discription{
        font-size: 0.85rem;
        padding: 0 10px;
    }
    .standard-card{
        width: 300px;
       
    }
    .standard-icon{
        display: none;
    }
     .nav-btn, .bannar-btn{
        padding: 10px 20px;
    }
      .single-story {
        display: none;
    }
      .multi-story {
        width: 100%;
    }
      .multiple-storys{
        width: 100%;
    }
 
     .multi-img{
        width: 100%;
    }
     .multi-btn{
        font-size: 0.5rem;
        font-weight: 400;
    }
      #midle-btn{
        margin-top: -20px;
        margin-left: 20px;
    }
     .multi-title{
        font-weight: bold;
        font-size: 0.5rem;
        width: 80%;
    }
     .our-story{
        font-size: 1.6rem;
    }
}
 