 /* font style */
 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 
 

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared related style */
 .bg-img {
    background-image: url(../assets/bg.png);
    width: 1440px;
    height: 880px;
 } 

 .dislay-flex {
    display: flex;
 }

 body {
    width: 1440px;
    margin: 0 auto;
 }
 .bg-color {
    background-color: #F7F7F7;
 }
.text-light-gray {
    color: #808080;
}
 /* navbar related styles */
 .navbar {
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .inner {
    gap: 11px;
 }


 ul li a {
    text-decoration: none;
 }
 .nav-title {
    font-weight:700;
    font-size: 2rem;
 }
 .nav-link {
     
    font-weight: 500;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
}

.nav-link1 {
    font-weight: 700;
    font-size: 1.25rem;
    color: #FEA301;
}
.nav-link2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #01ACFD;
}
.nav-link3 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #05D4DF;
}
.nav-link4 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #5D58EF;
}

.nav-btn {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: Orange;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;

}
.icon-nav-btn {
    display: none;
}
hr {
    background-color: #FEA301;
    display: none;
}
 
/* banner related style */

.banner {
    margin: 0 100px;
 
}
.banner-content {
    margin: 122px 50px 122px 0px;
     
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-description {
    width: 100%;
    font-weight: 400;
    font-size: 1.25rem;
}
 
#empowerring {
    color: #FEA301;
}
#towards-vision {
    color: #01ACFD;
}
.banner-btn {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #111111;
    color: white;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
}
.banner-img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .nav-title, 
    .nav-links, 
    .nav-btn {
        display: none;
    }
 
    .icon-nav-btn, hr {
        display: block;
    }
 
    .icon-nav-btn{
        font-size: 45px;
    }
 
    .banner {
        flex-direction: column;
        align-items: center;  
    }
    .banner-img {  
        order: -1;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title {
         font-size: 8rem;
         font-weight: 700;
    }
    .banner-description { 
        font-size: 4rem;  
    }
    .banner-btn {
        font-size: 4rem;
        padding: 20px 57px;
    }

}